# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/
.venv/
.env/
.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
*.esproj

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
.pytest_cache/
htmlcov/
.coverage
.mypy_cache/